# for main app
osbot-fast-api-serverless
mgraph-ai-service-cache-client

# for testing Html and Semantic-Text services (without using mocks or patches)
mgraph-ai-service-html
mgraph-ai-service-cache
mgraph-ai-service-html-graph
mgraph_ai_service_semantic_text

# for pytest
pytest
pytest-cov

# for fastapi testing
httpx
requests

# for local-stack support
osbot_local_stack