# API Authentication
FAST_API__AUTH__API_KEY__NAME  = x-api-key
FAST_API__AUTH__API_KEY__VALUE = your-secret-key-here

# AWS Authentication (if you want to deploy from here)

#AWS_ACCOUNT_ID         = "11111"
#AWS_DEFAULT_REGION     = "aa-bbbb-2"
#AWS_ACCESS_KEY_ID      = "AKIA...."
#AWS_SECRET_ACCESS_KEY  = "iFK9GQB...."